.mainDiv {
  background-color: #131316;
  user-select: none;
}

.firstDiv {
  text-align: center;
  justify-content: space-around;
  height: 95.5vh;
  display: flex;
  font-size: 0.9rem;
}

.equalProp {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.228);
  height: 7%;
  min-width: 8%;
  padding: 0.8%;
  margin: 2%;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: auto;
}

.equalProp:hover {
  color: wheat;
  border-color: rgba(212, 0, 255, 0.553);
}

.secondDiv {
  color: white;

}

.nextDiv {
  /* border: 1px solid white; */
  position: absolute;
  top: 50%;
  color: rgba(255, 255, 255, 0.157);
  /* left: 1.3%;
  right: 1.3%; */
  /* height: 78%; */
}

.redBox {
  /* border: 1px solid white; */
  
  
}


.divInsideFirstDivFour:hover {
  border-color: rgba(249, 112, 7, 0.475);
  cursor: pointer;
}
.divInsideFirstDivFour{

}

.SignInPara{
 
  color: rgba(188, 159, 247, 0.721);
}

.logInDiv{
  cursor: pointer;
}