.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container a {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 20px;
    border: 1px solid red;
    padding: 1%;
}

.container a:hover {
    text-decoration: underline;
}


.register-form {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0069d9;
}